/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.profile-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/MuseoSans-100.woff2") format("woff2"),
    url("/fonts/MuseoSans-100.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/MuseoSans-300.woff2") format("woff2"),
    url("/fonts/MuseoSans-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/MuseoSans-500.woff2") format("woff2"),
    url("/fonts/MuseoSans-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
